{{!< default}}

{{> cover this}}

<section class="wrapper" tabindex="0">
  <div class="wrapper-container">
    {{> custom/featured this}}

    <section>
      <div width="33%"><span>Technology</span></div>
      <div width="33%"><span>Media/Culture</span></div>
      <div width="33%"><span>Personal</span></div>
    </section>
    <section class="post-list">
      {{#foreach posts}}
        {{> post/list this}}
      {{/foreach}}
    </section>

    {{#if pagination}}
      {{pagination}}
    {{/if}}

    {{> footer this}}
  </div>
</section>
